{% extends 'base.html' %}
{% load static  %}



{% block content %}
<header class="main_nav dark_nav">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light w-100"> 
			<a class="navbar-brand" href="#top"><img class="nav-logo" src="{% static 'images/logo/15.png' %}" alt="logo"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
				  <li class="nav-item"><a class="nav-link active" href="#top">Home<span class="sr-only">(current)</span></a></li>
				  <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
				  <li class="nav-item"><a class="nav-link" href="#skill">Skill</a></li>
				  <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
				  <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>	
				  <li class="nav-item"><a class="nav-link" href="#testimonial">Testimonial</a></li>	
				  <li class="nav-item"><a class="nav-link" href="#projects">projects</a></li>
				  	
				 
				</ul>	
				  	
				 
				
			</div class="collapse navbar-collapse" id="navbarSupportedContent"> 
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="{% url 'all_blogs' %}">Blog</a></li>
				<li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>	

			</ul>

			
					


			
		</nav>
	</div>	
</header>
<section id="main_banner" class="banner_water_effect background5 overlay_one">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-md-12 col-lg-12 home-content text-left">
                <div class="mainbanner_content">
                    <span class="pb_5 banner_title color_white">I Am Salsabil !</span>  
                    <h1 class="cd-headline clip is-full-width text-uppercase">
                        <span class="color_white">I am a</span>
                        <span class="cd-words-wrapper color_default">
                            <b class="is-visible">architect.</b>
                            <b>Designer.</b>
                            <b>Freelancer.</b>
                        </span>
                    </h1>
                    <p class="color_white mb_30">Libero habitasse sollicitudin aliquet venenatis iaculis placerat amet ligula, eleifend nonummy enim in volutpat diam.</p>
                    <a class="btn btn-default" href="#">Download CV</a>
                </div>
            </div>          
        </div>
    </div>
</section>
<!--	Start About
	===================================================-->
	<section id="about" class="py_80 bg_black full_row">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="section_title_1 text-center mx-auto pb_60 wow animated slideInUp">
	                    <h2 class="title text-uppercase color_white"><span class="line_double mx-auto color_default">about</span>about myself</h2>
	                    <span class="sub_title color_lightgray">Interdum a etiam sagittis vehicula porta. Massa felis eros quam blandit nulla dolor habitant. Ullamcorper quis ornare et proin pellentesque.</span>
	                </div>
				</div>
			</div>
			<div class="about_one">
				<div class="row">
					<div class="col-md-7 col-lg-7">
						<div class="myself color_lightgray wow animated fadeInLeft">
							<p>Sodales iaculis est Scelerisque sociis magna dolor pulvinar magnis. Varius praesent suscipit. Donec morbi feugiat placerat gravida porttitor natoque nonummy parturient posuere. Magnis suspendisse parturient. Magna ultricies nostra nunc magna. Sodales etiam arcu suscipit, mollis. Aenean tempor eu ipsum nisi sociosqu lorem hymenaeos sapien. Aptent maecenas ac ante molestie habitant.</p>
							
							<p>Duis vulputate nisi nam sem penatibus parturient volutpat justo phasellus. Netus. Hac montes tempor lorem tempor tincidunt vehicula velit. Tellus. Class aenean leo elit maecenas. Vehicula sagittis. Curae; eget lacus. Fames neque diam elementum risus eleifend dui tortor netus turpis.</p>
						</div>
						<div class="personal_info color_lightgray">
							<div class="row">
								<div class="col-md-12 col-lg-6">
									<ul>
										<li><span class="color_secondery">Name :</span> Austin Jackson</li>
										<li><span class="color_secondery">Email :</span> yourdomainname@gmail.com</li>
										<li><span class="color_secondery">Phone :</span> +00 61 700 800</li>	
									</ul>
								</div>
								<div class="col-md-12 col-lg-6">
									<ul>
										<li><span class="color_secondery">Date of Birth :</span> 14 December 1993</li>
										<li><span class="color_secondery">Blood Group :</span> A+</li>
										<li><span class="color_secondery">Address :</span> Mouroubra WA 6472, Australia.</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-lg-5">
						<div class="profile_img personal_video wow animated fadeInRight">
							<img src="{% static 'images/about/04.png' %}" alt="image">
							<div class="iconround"><a class="video-popup" href="https://vimeo.com/134660574" title="video popup">
							<i class="fa fa-play" aria-hidden="true"></i></a></div>
							<div class="loader">
								<div class="loader-inner ball-scale-multiple">
									<div></div>
									<div></div>
									<div></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--	End About
	===================================================-->
	<!--	Start Skill
	===================================================-->
	<section id="skill" class="py_80 bg_deepblack full_row">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="section_title_1 text-center mx-auto pb_60 wow animated slideInUp">
						<h2 class="title text-uppercase color_white"><span class="line_double mx-auto color_default">skill</span>Design skill</h2>
						<span class="sub_title color_lightgray">Interdum a etiam sagittis vehicula porta. Massa felis eros quam blandit nulla dolor habitant. Ullamcorper quis ornare et proin pellentesque.</span>
					</div>
				</div>
			</div>
			<div class="my_skill">
				<div class="row">
					<div class="col-md-12 col-lg-6">
						<div class="about_myskill color_lightgray wow animated fadeInLeft">
							<h2 class="color_lightgray">Some talk about my professional design skill</h2>
							<p class="pt_15">{{ general_skill_text.text }}</p>
						</div>
					</div>
					<div class="col-md-12 col-lg-6">
						<div class="skill-progress wow animated slideInRight color_lightgray">
							{% for skill in skills %}
							<div class="prgs-bar fact-counter"> <span>{{ skill.name }}</span>
								<div class="progress count wow" data-wow-duration="0ms">
									<div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="{{ skill.proficiency }}">0</span>%</div>
									<div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.proficiency }}" aria-valuemax="100"></div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!--	End Skill
	===================================================-->
<!--	Start Experience and Projects
	===================================================-->
	<div class="experience background2 overlay_two py_60 full_row">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="fact-counter">
						<div class="row">
							<div class="col-md-4 col-lg-4">
							    <div class="counter count wow text-center" data-wow-duration="300ms">
							    	<span class="flaticon-man-working-on-a-laptop-from-side-view"></span>
					            	<div class="counting_digit color_default mt_15"> <h2 class="count-num" data-speed="3000" data-stop="7">0</h2><span>+</span>
					            	</div>
					            	<h3 class="color_white mt_15">Years of Experience</h3>
					          	</div>
							</div>
							<div class="col-md-4 col-lg-4">
							    <div class="counter count wow text-center" data-wow-duration="300ms">
							    	<span class="flaticon-half-time-work"></span>
					            	<div class="counting_digit color_default mt_15"> <h2 class="count-num" data-speed="3000" data-stop="145">0</h2><span>+</span>
					            	</div>
					            	<h3 class="color_white mt_15">Porjects Done</h3>
					          	</div>
							</div>
							<div class="col-md-4 col-lg-4">
							    <div class="counter count wow text-center" data-wow-duration="300ms">
							    	<span class="flaticon-happy"></span>
					            	<div class="counting_digit color_default mt_15"><h2 class="count-num" data-speed="3000" data-stop="137">0</h2><span>+</span>
					            	</div>
					            	<h3 class="color_white mt_15">Happy Clients</h3>
					          	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--	End Experience and Projects
	===================================================-->
	<!--	Start Services
	===================================================-->
	<section id="services" class="py_80 bg_black full_row">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="section_title_1 text-center mx-auto pb_60 wow animated slideInUp">
						<h2 class="title text-uppercase color_white"><span class="line_double mx-auto color_default">services</span>What i do</h2>
						<span class="sub_title color_lightgray">Interdum a etiam sagittis vehicula porta. Massa felis eros quam blandit nulla dolor habitant. Ullamcorper quis ornare et proin pellentesque.</span>
					</div>
				</div>
			</div>
			<div class="services_item1">
				<div class="col-md-12 col-lg-12">
					<div class="row">
						{% for service in services %}
						<div class="col-md-6 col-lg-4">
							<div class="service_two bg_gray color_lightgray text-center pt_15 mb_30 wow animated slideInUp">
								<div class="srv_item_number color_lightgray">
									<strong class="service-number">{{ forloop.counter|add:"00" }}.</strong>
								</div>
								<h3 class="p_20 text-uppercase color_primary">{{ service.title }}</h3>
								<div class="srv_icon color_white" style="background-color: black;">
									<img src="{{ service.image.url }}" alt="{{ service.title }}" width="80" height="80">
								</div>
								<p>{{ service.description }}</p>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	
	<style>
		.service-number {
			display: block;
			font-size: 36px;
			margin-bottom: 25px;
		}
		.service_two .srv_icon {
            background-color: black; /* تغيير لون الخلفية إلى الأسود */
            padding: 10px; /* إضافة بعض التباعد من حول الصورة */
            border-radius: 50%; /* تدوير الخلفية إلى شكل دائري */
}
		
		
    
	</style>
	
	
	<!--	End Services
	===================================================-->
	<!--	Start Portfolio
	===================================================-->
	<section id="portfolio" class="py_80 bg_deepblack full_row">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="section_title_1 text-center mx-auto pb_60 wow animated slideInUp">
						<h2 class="title text-uppercase color_white"><span class="line_double mx-auto color_default">portfolio</span>Recent Projects</h2>
						<span class="sub_title color_lightgray">Interdum a etiam sagittis vehicula porta. Massa felis eros quam blandit nulla dolor habitant. Ullamcorper quis ornare et proin pellentesque.</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="my_portfolio" id="tab-panel">
						<!-- Filter -->
						<div class="row">
							<div class="col-md-12">
								<div class="filters mb_30 w-100 text-center color_lightgray">
									<ul class="filter-tabs mx-auto d-inline-block">
										<li class="active filter" data-role="button" data-filter="all">All</li>
										{% for category in service_categories %}
											<li class="filter" data-role="button" data-filter=".{{ category.name|lower }}">{{ category.name }}</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
						<div class="filter-list">
							<div class="portfolio-items row mixitup">
								{% for category, images in service_images_per_category.items %}
									{% for image in images %}
										<div class="column mb_30 col-md-4 col-lg-4 mix {{ category.name|lower }}">
											<div class="default-portfolio-item">
												<a href="{{ image.image.url }}" data-fancybox="gallery">
													<div class="image-wrapper">
														<img src="{{ image.image.url }}" alt="image" class="portfolio-image" />
													</div>
													<div class="overlay-box">
														<span><i class="fa fa-eye" aria-hidden="true"></i></span>
														<div class="tag">
															<ul>
																{% for cat in image.service_category.all %}
																	<li>{{ cat.name }},</li>
																{% endfor %}
															</ul>
														</div>
													</div>
												</a>
											</div>
										</div>
									{% endfor %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<style>
		.portfolio-image {
			width: 100%;
			height: auto;
			object-fit: cover;
		}
		.image-wrapper {
			overflow: hidden;
			width: 100%;
			height: 200px; /* يمكنك ضبط الارتفاع حسب الحاجة */
		}
	</style>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!--	End Portfolio
	===================================================-->
	<!--	Start Blog
	===================================================-->
	
	
	<section id="projects" class="py_80 bg_deepblack full_row">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="section_title_1 text-center mx-auto pb_60 wow animated slideInUp">
						<h2 class="title text-uppercase color_white"><span class="line_double mx-auto color_default">my projects</span>my recent projects</h2>
						<span class="sub_title color_lightgray">Interdum a etiam sagittis vehicula porta. Massa felis eros quam blandit nulla dolor habitant. Ullamcorper quis ornare et proin pellentesque.</span>
					</div>
				</div>
				<div class="col-md-12 col-lg-12">
					<div class="blog_grid_1 wow animated slideInUp">
						<div class="row">
							{% for project in projects %}
								<div class="col-md-12 col-lg-4">
									<div class="blog_item">
										
										<div class="blog_img overlay_one">
											<div class="project-image-wrapper">
												<a href="{% url 'project_detail' project.id %}">
													<img src="{{ project.main_image.url }}" alt="Project Image" class="project-image">
												</a>
											</div>
										</div>
										<div class="blog_content bg_gray color_lightgray">
											<div class="blog_title">
												<a class="color_primary" href="{% url 'project_detail' project.id %}">
													<h5>{{ project.title }}</h5>
												</a>
											</div>
											<p class="mt_15 mb_30 description-height">{{ project.secondary_description }}</p>
											<div class="admin">
												<img src="{% static 'images/about/04.png' %}" alt="image">
												<span class="color_white">By - Salsabil</span>
											</div>
											<div class="date float-right color_primary">{{ project.execution_date }}</div>
										</div>
									</div>
								</div>
								{% if forloop.counter|divisibleby:3 and not forloop.last %}
									<div class="col-md-12 col-lg-12 mt-4"></div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	
	<style>
		.blog_item {
			height: 100%; /* Set a fixed height for each item */
			overflow: hidden; /* Hide overflow content */
		}
		.description-height {
			max-height: 100px; /* Set a maximum height for the description */
			overflow: hidden; /* Hide overflow content */
		}
		.project-image-wrapper {
			width: 100%; /* Set a fixed width for the image wrapper */
			padding-bottom: 75%; /* Maintain aspect ratio 4:3 */
			position: relative;
		}
		.project-image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	</style>
	
	
	<!--	End Blog
	===================================================-->
	
	<!--	Start Testimonial
	===================================================-->
	<section id="testimonial" class="py_80 bg_black full_row">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="section_title_1 color_white text-center mx-auto pb_60 wow animated slideInUp">
	                    <h2 class="title text-uppercase"><span class="line_double mx-auto color_default">testimonial</span>What Client Say’s</h2>
	                    <span class="sub_title color_lightgray">A villa project in Dubai is wonderful, I did not expect it to be like this.</span>
	                </div>
				</div>
				<div class="col-md-12 col-lg-12">
    				<div class="testimonial_item owl-carousel wow animated slideInUp">
    					<div class="member_feedback color_lightgray p_30">
							<div class="client_img"><img src="{% static 'images/testimonial/01.jpg' %}" alt="image"></div>
							<div class="star d-inline-block mt_30 color_default">
								<ul>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
								</ul>
							</div>
							<h5 class="color_gray mb_15">Aisha Lexi</h5>
							<p>Wow, that's very cool.</p>
						</div>
						<div class="member_feedback color_lightgray p_30">
							<div class="client_img"><img src="{% static 'images/testimonial/02.jpg' %}" alt="image"></div>
							<div class="star d-inline-block mt_30 color_default">
								<ul>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
								</ul>
							</div>
							<h5 class="color_gray mb_15">Kiara Paige</h5>
							<p>You are an artist person</p>
						</div>
						<div class="member_feedback color_lightgray p_30">
							<div class="client_img"><img src="{% static 'images/testimonial/03.jpg' %}" alt="image"></div>
							<div class="star d-inline-block mt_30 color_default">
								<ul>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
								</ul>
							</div>
							<h5 class="color_gray mb_15">Lucas Noah</h5>
							<p>I want to do my project like this.</p>
						</div>
						<div class="member_feedback color_lightgray p_30">
							<div class="client_img"><img src="{% static 'images/testimonial/04.jpg' %}" alt="image"></div>
							<div class="star d-inline-block mt_30 color_default">
								<ul>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
								</ul>
							</div>
							<h5 class="color_gray mb_15">Grace Ruby</h5>
							<p>Very beautiful.</p>
						</div>
    				</div>
    			</div>
			</div>
		</div>
	</section>
	<!--	End Testimonial
	===================================================-->
	
	<!--	Start Contact
	===================================================-->
	<section id="contact" class="py_80 bg_black full_row">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="section_title_1 text-center mx-auto pb_60 wow animated slideInUp">
	                    <h2 class="title text-uppercase color_white"><span class="line_double mx-auto color_default">contact</span>Get In Touch</h2>
	                    <span class="sub_title color_lightgray">Interdum a etiam sagittis vehicula porta. Massa felis eros quam blandit nulla dolor habitant. Ullamcorper quis ornare et proin pellentesque.</span>
	                </div>
				</div>
				<div class="col-md-12 col-lg-12">
					<div class="row">
						<div class="col-md-4 col-lg-4">
							<div class="contact_info wow animated fadeInLeft">
		    					<ul>
		    						<li>
		    							<div class="contact_text">
		    								<h6 class="font-weight-bold color_white">Email</h6>
		    								<span class="color_lightgray">saifnajar2000@gmail.com</span>
		    							</div>
		    						</li>
		    						<li>
		    							<div class="contact_text">
		    								<h6 class="font-weight-bold color_white">Phone</h6>
		    								<span class="color_lightgray">+970597585127</span>
		    							</div>
		    						</li>
		    						<li>
		    							<div class="contact_text">
		    								<h6 class="font-weight-bold color_white">Address</h6>
		    								<span class="color_lightgray">gaza</span>
		    							</div>
		    						</li>
		    						<li>
		    							<div class="contact_text">
		    								<h6 class="font-weight-bold color_white">Website</h6>
		    								<span class="color_lightgray">www.yourdomain.com</span>
		    							</div>
		    						</li>
		    					</ul>
		    				</div>
		    				<div class="socal_media_2 mt_15 d-inline-block white_hover">
					            <ul>
					                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
					                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					            </ul>
					        </div>
						</div>
						<div class="col-md-8 col-lg-8">
							<form method="post" action="{% url 'index' %}">
								{% csrf_token %}
								<div class="row">
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<input class="form-control bg_black" type="text" name="name" placeholder="Your Name" required />
										</div>
									</div>
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<input class="form-control bg_black" type="email" name="email" placeholder="Email Address" required />
										</div>
									</div>
									<div class="col-md-12 col-lg-12">
										<div class="form-group">
											<input class="form-control bg_black" type="text" name="subject" placeholder="Subject" required />
										</div>
									</div>
									<div class="col-md-12 col-lg-12">
										<div class="form-group">
											<textarea class="form-control bg_black" name="message" rows="7" placeholder="Message" required></textarea>
										</div>
									</div>
									<div class="col-md-12 col-lg-12">
										<div class="form-group">
											<button class="btn btn-default" id="send" type="submit">Send Message</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--	End Contact
	===================================================-->


{% endblock %}